<ng-container *ngIf="data$ | async as data">
  <table *ngIf="columns$ | async as columns" [columns]="columns" tuiTable class="tui-table table">
    <thead *ngIf="headings$ | async as headings" tuiThead class="thead">
      <tr tuiThGroup>
        <ng-container *ngFor="let column of columns">
          <ng-template [ngTemplateOutlet]="noSort" [ngTemplateOutletContext]="{ $implicit: column }"></ng-template>
        </ng-container>

        <ng-template let-column #noSort>
          <th *tuiHead="column" [sorter]="null" tuiTh>
            {{ $any(headings)[column] }}
          </th>
        </ng-template>
      </tr>
    </thead>
    <tbody [data]="data" tuiTbody>
      <tr *tuiRow="let item of data" tuiTr>
        <ng-container *ngFor="let column of columns">
          <td *tuiCell="column" tuiTd>
            <ng-template [ngTemplateOutlet]="
                              default
                          " [ngTemplateOutletContext]="{
                              $implicit: item,
                              column: column
                          }"></ng-template>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</ng-container>

<ng-template let-item let-column="column" #default>
  {{ item[column] }} В каждой ячейке!
</ng-template>
